body {
    background-color: slategray;
    margin-top: 60px;
}

#main-container {
    margin: 0 auto;
    max-width: 450px;
    width: 300px;
    height: 350px;
    border: 1px white dashed;
}

#screen {
    /*  width: 90%; */
    height: 3em;
    background: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #E5E8E8;
    text-align: right;
    padding-top: 12px;
}

div.row div.col {
    margin: 0px;
    paddding: 0px;
    padding-top: 12px;
    height: 52px;
    display: inline;
    border: 1px dashed white;
}

div.row div.col:hover {
    background: #283747;
    color: white;
    border: 1px solid white;
}
